<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MainPrj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <MainPrj.Properties.Settings>
            <setting name="UdpMainPort" serializeAs="String">
                <value>1691</value>
            </setting>
            <setting name="ServerURL" serializeAs="String">
                <value>http://spj.daukhimiennam.com</value>
            </setting>
            <setting name="PhoneKey" serializeAs="String">
                <value>phone</value>
            </setting>
            <setting name="URLGetCustomerByPhone" serializeAs="String">
                <value>/api/default/getCustomerByPhone</value>
            </setting>
            <setting name="PhoneListToken" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="TestingMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChannelNumber" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="URLGetCustomerByKeyword" serializeAs="String">
                <value>/api/default/getCustomerByKeyword</value>
            </setting>
            <setting name="ListeningCardMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PhoneCutLength" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="KeywordKey" serializeAs="String">
                <value>keyword</value>
            </setting>
            <setting name="URLUpdateCustomerPhone" serializeAs="String">
                <value>/api/default/updateCustomerPhone</value>
            </setting>
            <setting name="CustomerIdKey" serializeAs="String">
                <value>customer_id</value>
            </setting>
            <setting name="HistoryFilePath" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="HistoryFileName" serializeAs="String">
                <value>history.txt</value>
            </setting>
            <setting name="CallIdFormat" serializeAs="String">
                <value>yyyyMMddHHmmss</value>
            </setting>
            <setting name="FinishMark" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="ColorTabActiveBackground" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorIncommingCallText" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="ColorHandleCallText" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ColorFinishCallTabText" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorMissCallText" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="StartSearchTextLength" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ColorFinishCallText" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorFinishCallBackground" serializeAs="String">
                <value>InactiveCaption</value>
            </setting>
            <setting name="TimeAutoCloseMsgBox" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="UpdatePhone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorFoundKeywordText" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorFoundKeywordBackground" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="UserToken" serializeAs="String">
                <value />
            </setting>
            <setting name="URLLogin" serializeAs="String">
                <value>/api/site/login</value>
            </setting>
            <setting name="NameLabelPosX" serializeAs="String">
                <value>773</value>
            </setting>
            <setting name="RoleLabelPosX" serializeAs="String">
                <value>782</value>
            </setting>
            <setting name="URLLogout" serializeAs="String">
                <value>/api/site/logout</value>
            </setting>
            <setting name="URLUserProfile" serializeAs="String">
                <value>/api/user/profile</value>
            </setting>
        </MainPrj.Properties.Settings>
    </userSettings>
    <system.net>
      <connectionManagement>
        <add address="*" maxconnection="10" />
      </connectionManagement>
    </system.net>
</configuration>
