<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MainPrj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MainPrj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <MainPrj.Properties.Settings>
            <setting name="UdpMainPort" serializeAs="String">
                <value>1691</value>
            </setting>
            <setting name="ServerURL" serializeAs="String">
                <value>http://spj.daukhimiennam.com</value>
            </setting>
            <setting name="PhoneKey" serializeAs="String">
                <value>phone</value>
            </setting>
            <setting name="URLGetCustomerByPhone" serializeAs="String">
                <value>/api/default/getCustomerByPhone</value>
            </setting>
            <setting name="PhoneListToken" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="TestingMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChannelNumber" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="URLGetCustomerByKeyword" serializeAs="String">
                <value>/api/default/getCustomerByKeyword</value>
            </setting>
            <setting name="ListeningCardMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PhoneCutLength" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="KeywordKey" serializeAs="String">
                <value>keyword</value>
            </setting>
            <setting name="URLUpdateCustomerPhone" serializeAs="String">
                <value>/api/default/updateCustomerPhone</value>
            </setting>
            <setting name="CustomerIdKey" serializeAs="String">
                <value>customer_id</value>
            </setting>
            <setting name="SettingFilePath" serializeAs="String">
                <value>C:\CoordinatorHelper</value>
            </setting>
            <setting name="HistoryFileName" serializeAs="String">
                <value>history.txt</value>
            </setting>
            <setting name="CallIdFormat" serializeAs="String">
                <value>yyyyMMddHHmmssFFF</value>
            </setting>
            <setting name="FinishMark" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="ColorTabActiveBackground" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorIncommingCallText" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="ColorHandleCallText" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ColorFinishCallTabText" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorMissCallText" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="StartSearchTextLength" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ColorFinishCallText" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorFinishCallBackground" serializeAs="String">
                <value>InactiveCaption</value>
            </setting>
            <setting name="TimeAutoCloseMsgBox" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="UpdatePhone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorFoundKeywordText" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorFoundKeywordBackground" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="UserToken" serializeAs="String">
                <value />
            </setting>
            <setting name="URLLogin" serializeAs="String">
                <value>/api/site/login</value>
            </setting>
            <setting name="NameLabelPosX" serializeAs="String">
                <value>751</value>
            </setting>
            <setting name="RoleLabelPosX" serializeAs="String">
                <value>760</value>
            </setting>
            <setting name="URLLogout" serializeAs="String">
                <value>/api/site/logout</value>
            </setting>
            <setting name="URLUserProfile" serializeAs="String">
                <value>/api/user/profile</value>
            </setting>
            <setting name="URLGetConfig" serializeAs="String">
                <value>/api/default/windowGetConfig</value>
            </setting>
            <setting name="PromoteMoney" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="AgentLabelPosX" serializeAs="String">
                <value>786</value>
            </setting>
            <setting name="URLCreateOrder" serializeAs="String">
                <value>/api/default/windowOrderCreate</value>
            </setting>
            <setting name="URLUpdateOrder" serializeAs="String">
                <value>/api/default/windowOrderUpdate</value>
            </setting>
            <setting name="URLGetAgentInfo" serializeAs="String">
                <value>/api/default/windowGetInfoAgent</value>
            </setting>
            <setting name="OrdersFileName" serializeAs="String">
                <value>orders.txt</value>
            </setting>
            <setting name="BillBrand" serializeAs="String">
                <value>GAS 24H</value>
            </setting>
            <setting name="BilllFont" serializeAs="String">
                <value>Times New Roman</value>
            </setting>
            <setting name="BillSizeW" serializeAs="String">
                <value>280</value>
            </setting>
            <setting name="BillSizeH" serializeAs="String">
                <value>820</value>
            </setting>
            <setting name="URLCreateCustomer" serializeAs="String">
                <value>/api/default/windowCustomerCreate</value>
            </setting>
            <setting name="IsTabColorChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageSize" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="SettingProductFileName" serializeAs="String">
                <value>products.txt</value>
            </setting>
            <setting name="SettingPromoteFileName" serializeAs="String">
                <value>promotes.txt</value>
            </setting>
            <setting name="ImageFontSize" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="BufferLength" serializeAs="String">
                <value>65536</value>
            </setting>
            <setting name="NetworkTimeOut" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="URLCreateOrderCoordinator" serializeAs="String">
                <value>/api/default/windowStoreCardCreate</value>
            </setting>
            <setting name="LastUsername" serializeAs="String">
                <value />
            </setting>
        </MainPrj.Properties.Settings>
    </userSettings>
    <system.net>
      <connectionManagement>
        <add address="*" maxconnection="10" />
      </connectionManagement>
    </system.net>
    <applicationSettings>
        <MainPrj.Properties.Settings>
            <setting name="ZiboUdpPort" serializeAs="String">
                <value>1972</value>
            </setting>
        </MainPrj.Properties.Settings>
    </applicationSettings>
</configuration>
