<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MainPrj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <MainPrj.Properties.Settings>
            <setting name="UdpMainPort" serializeAs="String">
                <value>1691</value>
            </setting>
            <setting name="ServerURL" serializeAs="String">
                <value>http://spj.daukhimiennam.com</value>
            </setting>
            <setting name="PhoneKey" serializeAs="String">
                <value>phone</value>
            </setting>
            <setting name="URLGetCustomerByPhone" serializeAs="String">
                <value>/api/default/getCustomerByPhone</value>
            </setting>
            <setting name="PhoneListToken" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="TestingMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChannelNumber" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="URLGetCustomerByKeyword" serializeAs="String">
                <value>/api/default/getCustomerByKeyword</value>
            </setting>
        </MainPrj.Properties.Settings>
    </userSettings>
</configuration>
